
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    background: black;
    color: white;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: transparent;
    transition: 0.3s;
}

header.scrolled{
    background: #1e293b;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

nav a{
    color:white;
    margin-left: 20px;
    text-decoration: none;
}

.quick{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 12px 25px;
    border: none;
    background: linear-gradient(45deg,purple,pink);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.1);
}

.features{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
}

.card{
    padding: 30px;
    background: #1e293b;
    border-radius: 10px;
    transition: 0.5s;
}

.hidden{
    opacity: 0;
    transform: translateY(50px);
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.contact{
    text-align: center;
    padding: 50px;
}

#typing{
    font-weight: bold;
    font-size: 28px;
}